@use 'var';

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var.$text-lg;

  width: 100%;
  color: var.$text-primary;

  background-color: var.$accent-blue;
  border: none;
  border-radius: var.$radius-sm;
  padding: 10px;

  outline: 2px solid var.$opacity-color;
  outline-offset: 2px;

  cursor: pointer;

  transition: color var.$transition-slow ease-in,
  background-color var.$transition-slow ease-in,
  outline-color var.$transition-slow ease-in,
  transform var.$transition-fast ease-in;

  @media (hover: hover) {
    &:hover {
      background-color: var.$accent-blue;
    }
  }

  &:focus-visible {
    background-color: var.$accent-blue;
    outline-color: var.$accent-blue;
  }

  &:active {
    transform: translateY(2px)
  }

  .icon {
    width: 25px;
    height: 25px;
    transition: color var.$transition-slow ease-in;
  }
}

.animate {
  animation: rotation 0.25s 1 linear;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}