@use '../../../../shared/styles/var';

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;

  background-color: var.$bg-primary;

  padding: 30px 15px 10px;
  border: 1px solid var.$border-strong;
  width: var.$sidebar-width;

  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);

  transition: all 0.3s ease-in-out;

}
.isOpen {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.editButton {
  opacity: 0%;
  color: grey;
  pointer-events: none;
  transition: opacity 0.3s ease-in;

  &:focus-visible {
    opacity: 100%;
    pointer-events: all;
  }
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 10px;

  svg {
    width: 20px;
    height: 20px;
  }
}