@use '../../styles/var';

.wrapper {
  position: relative;

}

.input {
  padding: 10px;
  background-color: var.$bg-secondary;
  border-radius: var.$radius-sm;
  border: 1px solid var.$border-subtle;
  outline: none;
  @media (hover: hover) {
    &:hover {
      border-color: var.$accent-blue;
    }
  }

  &:focus-visible {
    border-color: var.$accent-blue;
    //outline: none;
  }

  .error {
    border-color: var.$state-error;
  }
}

.placeholder {
  font-size: var.$text-lg;
  position: absolute;
  left: 15px;
  top: 0;
  color: #999;
  transition: background-color 0.2s ease,
  left 0.2s ease,
  top 0.2s ease,
  font-size 0.2s ease;
  pointer-events: none; /* Чтобы клик проходил сквозь label в input */
  background-color: var.$bg-secondary; /* Чтобы перекрывать бордер input при перемещении */
  padding: 0;
}

.wrapper input:focus + .placeholder,
.wrapper input:not(:placeholder-shown) + .placeholder {
  left: 5px;
  top: -20px;
  font-size: var.$text-md;
}