.circle {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

