@use 'var';

.task {
  overflow: hidden;

  container-type: size;

  text-align: left;
  width: 80%;
  height: 50px;
  padding: 5px 10px;
  //margin-left: 10px;


  border-radius: var.$radius-sm;
  border-color: var(--task-color);
  border-width: 0 0 1px 5px;
  border-style: solid;

  background-color: color-mix(in srgb, var(--task-color) 45%, transparent);

  cursor: pointer;

  transition: background-color var.$transition-slow ease-in;

  @media (hover: hover) {
    &:hover {
      background-color: color-mix(in srgb, var(--task-color) 65%, transparent);
    }
  }
}

.content {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  -webkit-line-clamp: 2; // Определяем количество строк перед достижением многоточия

}

.time {
  font-size: 12px;
  color: var.$text-secondary;
}

.label {
  flex: 0 0 auto;
  font-size: 16px;
  overflow: hidden;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; // Определяем количество строк перед достижением многоточия

}

.tag {
  flex: 0 0 auto;
  font-size: 12px;
  color: var.$text-secondary;

  p {
    gap: 5px;
  }
}

@container (max-width:100px) {
  .label {
    font-size: 14px;
  }

  .tag {
    display: none;
    grid-area: unset
  }
}

@container (max-width:40px) {
  .label{
    -webkit-line-clamp: 4;
  }
  .time {
    display: none;
    grid-area: unset
  }
}

@container (max-height:48px) {
  .content {
    grid-template-areas: 'time tag' 'label label';
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }

  .time {
    grid-area: time;
  }

  .label {
    grid-area: label;
  }

  .tag {
    grid-area: tag;
  }

  @container (max-width:200px) {
    .content {
      grid-template-areas: unset;
      grid-template-columns: 1fr;
    }

    .time {
      grid-area: unset
    }

    .label {
      font-size: 14px;
      grid-area: unset;
      -webkit-line-clamp: 1;
    }

    .tag {
      display: none;
      grid-area: unset;
    }
  }
  @container (max-width:90px) {
    .label {
      -webkit-line-clamp: 3; // Определяем количество строк перед достижением многоточия
    }

    .time {
      display: none;
    }
  }
}

@container (max-height: 24px) {
  .content {
    grid-template-areas: none;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    gap: 10px;

  }

  .time {
    grid-area: unset;
    font-size: 12px;
  }

  .label {
    grid-area: unset;
    font-size: 13px;
    -webkit-line-clamp: 1; // Определяем количество строк перед достижением многоточия
  }

  .tag {
    grid-area: unset;
  }

  @container (max-width:300px) {
    .tag {
      display: none;
    }
  }
  @container (max-width:200px) {
    .content {
      display: block;
    }

    .time {
      display: none;
    }
  }
}