@use 'var';

.aside {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;

  background-color: var.$bg-primary;
  height: 100vh;

  padding: 30px 15px 10px;
  border-right: 1px solid var.$border-strong;
  width: var.$sidebar-width;
}

.content {
  width: 100%;
  overflow-y: auto;
}

.logo {
  font-size: var.$text-xl;
  position: sticky;
}

.btn {
  justify-content: flex-start;
  text-align: left;
  width: 100%;
}

