@use '../../styles/var';

.sidebarWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.sidebarItem {
  width: 100%;
  border-radius: var.$radius-sm;
  outline: 2px solid var.$opacity-color;
  outline-offset: 2px;

  color: var.$text-primary;

  transition: background-color var.$transition-slow ease-in,
  color var.$transition-slow ease-in,
  border-color var.$transition-slow ease-in,
  transform var.$transition-fast ease-in;

  @media (hover: hover) {
    &:hover {
      background-color: var.$bg-hovered;
    }
  }

  &:focus-visible {
    background-color: #1D2126FF;
    outline-color: var.$accent-blue;
  }

  &:active {
    transform: translateY(3px);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.active {
  color: var.$text-primary;
  background-color: #1D2126FF;
}

.label {
  margin-right: auto;
}

.small {
  font-size: var.$text-md;
}

.medium {
  font-size: var.$text-lg;
}

.large {
  font-size: var.$text-xl;
}