@use 'var';

.timeBar {
  display: flex;
  flex-direction: column;
  height: calc(var(--hour-size) * 24);
  border-right: 1px solid var.$border-strong;
}


.hour {
  display: flex;
  align-items: center;
  min-height: var.$hour-size;
  justify-content: center;
  padding: 10px;

  margin-left: 5px;
  border-block: 1px solid var.$border-default;
}